
.yeet{
    margin: 10cm;
    padding: 1cm;
    border-style: solid;
    border-radius: 50px;
    border-color: #8d18c4;  
    border-width: medium;
    text-align: center;
    background-color: blue;
}